
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    body{
        background-color: red;
    }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    body{
        background-color: green;
    }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    body{
        background-color: yellow;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        margin-left: 608px;
    }
    ul.navbar-nav.mr-auto {
        margin-top: 21px;
        margin-right: -75px;
        padding-bottom: 20px;
    }
    li.nav-item {
        background-color:white;
        color: white;
        margin-top: 1px;
        padding-left: 20px;
    }

    /*
      welcome area tag
     */

    .flex-caption h2{
        margin-left:auto; !important;;
    }
    .flex-caption p{
        text-align: center;
        font-weight: 400;
        margin-left:auto !important;
        color: white;
    }
    .submit {
        margin-top: 22px;
        padding-bottom: 20px;
    }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    body{
        background-color: blueviolet;
    }
    .flex-caption h2{
        margin-left:auto; !important;;
    }
    .flex-caption p{
        text-align: center;
        font-weight: 400;
        margin-left:auto !important;
        color: white;
    }
    form.contact-form.form-inline {
        margin-left: auto !important;
        margin-bottom: 50px;
        width: 100%;
        height: auto;
    }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    body{
        background-color: black;
    }
    body{
        background-color: yellow;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        margin-left:428px;
    }
    ul.navbar-nav.mr-auto {
        margin-top: 21px;
        margin-right: -75px;
        padding-bottom: 20px;
    }
    li.nav-item {
        background-color:white;
        color: white;
        margin-top: 1px;
        padding-left: 20px;
    }
    /*
     welcome area tag
    */



}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    body{
        background-color: blue;
    }

}


















